*.me
.env
*.exe
*.png

bin/
*.o
*.a
*.out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

*.test
coverage.txt
coverage.out
c.out

vendor/

go.work
go.work.sum

.idea/
.vscode/
.DS_Store
Thumbs.db
